<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="summer.module.mapper.ModuleMapper">
	<!-- 费用申请 -->
	<resultMap id="ModuleMap" type="summer.module.model.ModuleModel">
		<id property="id" column="id" jdbcType="VARCHAR" />
		<result property="text" column="text" />
		<result property="parentId" column="parent_id" />
		<result property="url" column="url" />
		<result property="ordernum" column="ordernum" />
		<result property="isleaf" column="isleaf" />
		<result property="iconCls" column="icon_cls" />
		<result property="remark" column="remark" />
		<result property="creater" column="creater" />
		<result property="createrTime" column="creater_time" />
		<result property="modifier" column="modifier" />
		<result property="modifierTime" column="modifier_time" />
	</resultMap>
	
	
	<select id="getModuleList" parameterType="string" resultMap="ModuleMap">
		select * from op_module
		<where>
			<if test="pid!=null and pid!='' ">
				and parent_id=#{pid} 
			</if>
		</where>
		order by ordernum ASC
	</select>
	
	<select id="selectOne" parameterType="string" resultType="int">
		select count(*) from op_module where id = #{id}
	</select>
	
	<insert id="insert" parameterType="summer.module.model.ModuleModel" keyProperty="id" useGeneratedKeys="true">
	    insert into op_module (
	        id,
	        text,
	        parent_id,
	        url,
	        ordernum,
	        isleaf,
	        icon_cls,
	        remark,
	        creater,
	        creater_time,
	        modifier,
	        modifier_time)values(
	        #{id},
	        #{text},
	        #{parentId},
	        #{url},
	        #{ordernum},
	        #{isleaf},
	        #{iconCls},
	        #{remark},
	        #{creater},
	        #{createrTime},
	        #{modifier},
	        #{modifierTime}
        )
	</insert>
	
	<update id="update" parameterType="summer.module.model.ModuleModel">
		update op_module
		set 
	        text          =#{text},
	        parent_id          =#{parentId},
			url        =#{url},
			ordernum            =#{ordernum},
			isleaf            =#{isleaf},
			icon_cls            =#{iconCls},
			remark                =#{remark},
			creater          =#{creater},
			creater_time             =#{createrTime},
			modifier                 =#{modifier},
			modifier_time              = #{modifierTime}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="string">
		delete from op_module where id=#{id}
	</delete>
</mapper>